


<style type="text/css">
td.new_c
{
    color:#900;
} 

ol.special{list-style-type:upper-roman;}  

 

</style>
 
</ style>   
<style type="text/css">  
a.nounderline:link  
{  
 text-decoration:none;  
}  
</style>


#number1 {
  color:red;
}

#number2 {
  color:blue;

}

#test {
  width: 200px;
  height: 60px;
  padding: 100px;
  border: 5px dotted blue;
  margin: 5px, 10px, 20px, 30px;
} 

.class1 {
  font-weight: bold;
}

.class2{
  font-weight: bold;
  color: white;
background-color:orange;
} 

.class3{
  font-weight: bold;
  color: white;
 
background-color:#7391FF;
} 
 

.class4{
  font-weight: bold;
  color: white;
 
background-color:#7391FF;
} 


    .border
    {
        width:300px;
        text-align:left;
        border-width:medium;
        border-color:#009;
        border-style:inherit;
        border-radius:3px;
    }
 